*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Mochiy Pop P One', sans-serif;
}
.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.transform{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
}

section{
    width: 100vw;
    height: 100vh;
    position: relative;
}

img{
    width: 500px;
    height: 350px;
}

.items{
    word-spacing: 30px;
    color: yellow;
    text-align: center;
}

div.items h1{  
    font-size: 3em;
    width: 800px;
    height: 350px;
    text-transform: uppercase;
}

.bg-color{
    background-color: red;
}

.bg-color2{
    background-color: green;
}

.bg-color3{
    background-color: yellow;
}

#green-text{
    color: green;
}
